<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Companies</title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </h:head>
    <h:body>
        <p:layout class="ui-left" fullPage="true">
            <p:layoutUnit styleClass="ui-top" gutter="0" position="north" size="60">
                <h:form id="homeform">
                    <p:commandButton value="Home" id="ajaxbtn1" action="index.xhtml" /> 
                </h:form>
            </p:layoutUnit>
            <p:layoutUnit styleClass="ui-left" gutter="0" position="west" size="200" collapsible="true" header="Menu">
                <h:form id="leftMenuForm">
                    <p:commandButton class="button" value="Companies" action="companiesOverviewPage.xhtml"/>
                </h:form>
            </p:layoutUnit>
            <p:layoutUnit styleClass="ui-center" gutter="0" position="center" size="60">
                TODO
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>
