<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </h:head>
    <h:body>
        <p:layout class="ui-left" fullPage="true">
            <p:layoutUnit styleClass="ui-top" gutter="0" position="north" size="60">
                <h:form id="homeform">
                <p:commandButton value="Home" id="ajaxbtn1" action="index.xhtml" /> 
                </h:form>
            </p:layoutUnit>
            <p:layoutUnit styleClass="ui-left" gutter="0" position="west" size="200" collapsible="true" header="Menu">
                <h:form id="leftMenuForm">
                <p:commandButton class="button" value="Companies" action="companiesOverviewPage.xhtml"/>
                </h:form>
            </p:layoutUnit>
            <p:layoutUnit styleClass="ui-center" gutter="0" position="center" size="60">
                <h:form id="mainform">
                    <h2 id="intro"> WELCOME! </h2>
                    <p:commandButton class="button" value="Login" action="login.xhtml" icon="ui-icon-key" ajax="false"/>
                    <p:commandButton class="button" value="Register" action="register.xhtml" icon="ui-icon-pencil" disabled="true"/>
                </h:form>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>

