<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Login!</title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </h:head>
    <h:body>
        <p:layout fullPage="true">
            <p:layoutUnit styleClass="ui-top" gutter="0" position="north" size="60">
                <h:form id="homeform">
                <p:commandButton value="Home" id="ajaxbtn1" action="index.xhtml" /> 
                </h:form>
            </p:layoutUnit>
            <p:layoutUnit styleClass="ui-left" gutter="0" position="west" size="200" collapsible="true" header="Menu">
                 <h:form id="leftMenuForm">
                <p:commandButton class="button" value="Companies" action="companiesOverviewPage.xhtml"/>
                </h:form>
            </p:layoutUnit>
            <p:layoutUnit styleClass="ui-center" gutter="0" position="center" size="60">
                <h:form id="loginform">
                   <h2 class="centeredtext" id="loginIntro "> Welcome!</h2>
                   <h3 class="centeredtext" id="loginCommands">Please enter your details</h3>
                    <h:panelGrid id="grid" columns="2" cellpadding="5">
                   <p:outputLabel value="username: " for="username"/>
                   <h:inputText id="username" value="#{accountBean.account.username}" required="true" />
                   
                   <p:outputLabel value="password: " for="password"/>
                   <h:inputSecret id="password" value="#{accountBean.account.password}"/>
                  
                    </h:panelGrid>
                   <p:commandButton class="button" value="Login" action="#{accountBean.login()}" ajax="false"/>
                </h:form>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>