/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 2, 2014, 4:24:58 PM
    Author     : David
*/


.ui-top, .ui-top .ui-layout-unit-content {
    background-image: none;
    background-color: #bcdede;
}

.ui-center, .ui-center .ui-layout-unit-content {
    background-image: none;
    background-color: #E3F1F1;
}

.ui-left, .ui-left .ui-layout-unit-content {
    background-image: none;
    background-color: #bcdede;
}

#intro {
   text-align: center;
}

#mainform {
    text-align: center;
    
}

#loginform {
    text-align: center;
    
}

.centeredtext{
    text-align: center;
}
.button {
    display: inline-block;
    margin: 20px;
    width: 200px;
}